/* .title-child{
    display: inline-block;
    
} */

.title {
    display: flex;
    justify-content: space-between; /* Aligns text left and buttons right */
    align-items: center; /* Aligns text and buttons vertically at the same level */
    padding: 10px; /* Optional: Adds padding around the title */
}

.list-name {
    margin: 0; /* Removes default margin to align properly */
}

.title-child-right {
    display: flex;
    gap: 10px; /* Adds space between the buttons */
}


/* .title{
    display: flex;
    justify-content: flex-end; /* Aligns the buttons to the right */
    /* gap: 10px; Adds space between the buttons */

/* } */


.stores-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
  }

#editListBtn {
    background-color: transparent; /* Dark Blue */
    border: none;
    font-size: large;
    
    font-weight: bold;
    cursor: pointer;
}

.menuBTN {
    background-color: #7c9e57; /* Green */
    border: none;
    padding: 7px 28px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 24px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    /* float: right; */
}

.menuBTN:hover {
    background-color: #4f6834; /* Darker Green */
}

.store {
    background-color: transparent;
    /* padding: 15px; */
    /* border-radius: 10px; */
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}

.storeTitleBar {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: row; /* Change to row to align items horizontally */
    align-items: center; /* Center items vertically */
    
    justify-content: space-between; /* Optional: Space elements evenly */
}

.storeTitleBar img {
    width: 50px;
    height: 50px;
    /* margin-bottom: 10px; */
    border-radius: 50%;
}

.store-title {
    background-color: #2e2d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    /* margin-bottom: 10px; */
    font-weight: bold;
}

.store-title:hover {
    background-color: #4e4c82;
}

.store-dropdown {
    margin-top: 10px;
}

.store-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.delete-store-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
}

.delete-store-btn:hover {
    background-color: darkred;
}


.storeItems {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    max-height:315px;
    min-height:315px;
    overflow-y:scroll;
    
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.item:last-child {
    border-bottom: none;
}

.item-name {
    font-weight: bold;
    font-size:larger;
}

.item-price {
    color: #2f2f2f;
}

.subtotal, .total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    background-color: #272d32;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

.subtotal-price, .total-price {
    color: #ffffff;
}

