.title{
    display: flex;
    justify-content: space-between; /* Aligns text left and buttons right */
    align-items: center; /* Aligns text and buttons vertically at the same level */
    padding: 0 2em;
}

.list-name{
    margin:0;
}

/*Formatting of the 'Add Item' and 'Finished with your list' buttons*/
.next-page-buttons{
    background: #7C9E57;
    border-radius: 30px;
    padding:10px;
    margin:10px;
    /* font-size: 5em; */
    font-weight: bold;
    display:flex;
    gap:10px;
}

/* Proposed change: Removing the opacity animation */
/*Changing cursor visuals + opacity of 'add item' and 'finished with your list' buttons */
/* .next-page-buttons:hover{
    cursor:pointer;
    opacity: 80%;
} */

#editListBtn {
    background-color: transparent; /* Dark Blue */
    border: none;
    font-size: large;
    
    font-weight: bold;
    cursor: pointer;
}

.menuBTN {
    background-color: #7c9e57; /* Green */
    border: none;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 1.5em;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    /* float: right; */
}

.menuBTN:hover {
    background-color: #719150;
    opacity: 70%;
  }
  
  .menuBTN:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .menuBTN:focus {
    box-shadow: #668448 0 0 3px;
    outline: none;
  }
  
  .menuBTN:disabled {
    border-color: #1b1f231a;
    color: #ffffffcc;
    cursor: default;
  }
  
  .menuBTN:active {
    background-color: #668448;
    box-shadow: #14462033 0 1px 0 inset;
  }

/*formatting for the entirety of the 3-column display*/
.information-holder{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EFF0E5;
    border-radius: 2em;
    border: none;
    margin: 0em 2em;
}

/*Including border between each column to determine placement - can take out if wanted*/
.column1, .column2, .column3{
    border: 0.4em solid #d5d7c8;
}

/*Adjusting font weight/size of the list of items within 1st column*/
.column1{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    #item-list{
        font-weight: bold;
        font-size: 150%
    }    

    .groceryItem {
        width: auto;
        padding: 0;
        margin: 1.25em;
        padding: 0.15em;
    }
}

/*Overall formatting for 2nd column*/
.column2{
    border-left: none;
    border-right: none;
    /*Aligning the Name and Main Image to be in the center of the column*/
    .align-images-center{
        display: grid;
        justify-content: center;
        padding-bottom: 10px;

        img{
            border-radius: 10px;

            width:50%;
            height:auto;

            justify-self: center;
        }
    }

    h2{
        margin: 10px 0 10px 10px;
        font-size: 175%;
    }

}

/*Formatting for the 3rd Column*/
.column3{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    /*Adjusting display of 'description' and 'nutrition facts' buttons*/
    .fact-buttons{
        display: flex;
        justify-content: center;
        margin:10px;

        button{
            border-style: none;

            font-size: 130%;

            background-color: rgb(206, 208, 192);

            font-weight: bold;

            padding: 10px;
            
        }

        #description-button{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: rgb(173, 175, 161); /*keep this way so that when page loads, it looks like description button is automatically selected.*/
        }

        #nutrition-button{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        button:hover{
            cursor: pointer;
            opacity: 80%;
        }


    }

    #displayed-text{
        margin: 10px;

        font-size: 110%;
    }

}

/*Formatting for the image slider in 2nd column*/
.image-holder{
    display: flex;
    overflow:scroll;
    width:auto;
    height:auto;
    border:1px solid rgb(241, 243, 227);
    margin:10px 0 10px 10px;
    background-color: rgb(241, 243, 227);
    border-radius: 10px;
    scroll-snap-type: x mandatory;
    /*Makes sure all images inside slider have rounded border + equal space between each item*/
    img{
        border-radius: 10px;
        margin: 10px;
    }
}

/*Formatting for permanent scroller (1/4)*/
.image-holder::-webkit-scrollbar{
    width:10px;
    scrollbar-width: thin;
}

/*Formatting for permanent scroller (2/4)*/
.image-holder::-webkit-scrollbar-track{
    background-color:#f1f1f1;
}

/*Formatting for permanent scroller (3/4)*/
.image-holder::-webkit-scrollbar-thumb{
    background-color: #bec7b6;
}

/*Formatting for permanent scroller (4/4)*/
.image-holder::-webkit-scrollbar-thumb:hover{
    background-color: #3f7c4a;
}

/*Making sure the images disappear once they "overflow"/are scrolled past + format of the actual image sizes*/
.image-holder > img{
    display: flex;

    flex-shrink: 0;
    width:20%;
    height:auto;

    scroll-snap-align:auto;
    scroll-behavior:auto;
}

.extra-images:hover{
    cursor:pointer;
}

.image-holder img{
    transition: 1s ease;
}

.image-holder img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}


.groceryItem:hover{
    cursor:pointer;

    background: transparent;
    color: #69563b;
}

.extra-images {
    padding: 0 0.5em;
    border: 0.2em solid #00000033;
}