.display {
  background-color: #EFF0E5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  border-radius: 1em;
  padding: 1.5em 1.25em;
  margin: 0 2em;
  height: auto;
}

.pencil {
  background: none;
  border: none;
  height: 25px;
  width: 21px;
  padding: 0em;
  align-self: center;
}

#pencil-icon:hover{
    box-shadow: rgb(109, 109, 109) 0 0 3px;
  outline: none;
  border-radius: 90% 50% 90% 10%;
}

#pencil-icon:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  #pencil-icon:focus {
    box-shadow: rgb(97, 97, 97) 0 0 3px;
    outline: none;
  }
  
  #pencil-icon:disabled {
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
  }
  
  #pencil-icon:active {
    background-color: rgb(188, 188, 188);
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
  }

#title-icon {
  display: flex;
  align-items: flex-end;
  height: 35px;
  width: auto;
}

#user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#user-details h1,
h2 {
  white-space: nowrap;
  align-self: start;
  margin: 0;
  padding: 0.2em 0.5em 0em;
}

#user-details h2 {
  padding: 0em 0.5em;
  margin: 0.5em;
  width: auto;
  font-weight: 400;
  font-size: 1em;
}

#user-details ul {
  text-align: left;
  list-style-type: none;
  white-space: nowrap;
  padding: 1em;
  margin: 0;
  line-height: 2.5em;
  font-size: 1.5em;
  font-weight: 600;
  height: 100%;
  width: 5em;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 90vw;
  height: auto;
}

#user-details .price {
  flex-shrink: 1;
  text-align: right;
  line-height: 2.5em;
  font-weight: 400;
  padding-left: 5em;
}

.img {
  flex: 1 1 5em;
  max-width: 100%;
  height: auto;
  max-height: 13em;
  object-fit: contain;
  display: block;
  margin: 0.5em 0em;
  border-radius: 10em;
}

.right-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: normal;
  align-content: normal;
  justify-content: normal;
  max-width: 50vw;
  max-height: 27.5em;
  overflow: scroll;
}

#share-print-back {
  display: flex;
  flex-direction: column;
  flex-grow: 0.75;
  width: 27.5em;
  height: auto;
  flex-wrap: nowrap;
}

.share-print-back-text {
  background-color: #7c9e57;
  border: none;
  border-radius: 7.5em;
  flex: 1 1 5em;
  width: 50vw;
  max-width: 50vw;
  max-height: 3em;
  margin: 0.5em 0em;
  font: optional;
  font-size: 1.25em;
  font-weight: 600;
}

.share-print-back-text:hover {
    background-color: #719150;
  }

.share-print-back-text:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.share-print-back-text:focus {
  box-shadow: rgb(102, 132, 72) 0 0 3px;
  outline: none;
}

.share-print-back-text:disabled {
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.share-print-back-text:active {
  background-color: rgb(102, 132, 72);
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
